
<section>
    <!-- container -->
    <div class="container-fluid">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="col-md-3 col-6">
          <!-- couner frame -->
          <div class="counter-frame" style="opacity: 1">
            <!-- counter -->
            <div class="counter-box">
              <!-- counter number -->
              <span class="counter" style="opacity: 1">10</span>
              <span class="counter-plus">+</span>
            </div>
            <!-- counter end -->
            <!-- title -->
            <h6>
              <span> Years Experience </span>
            </h6>
          </div>
          <!-- couner frame end -->
        </div>
        <!-- col end -->
        <!-- col -->
        <div class="col-md-3 col-6">
          <!-- couner frame -->
          <div class="counter-frame" style="opacity: 1">
            <!-- counter -->
            <div class="counter-box">
              <!-- counter number -->
              <span class="counter" style="opacity: 1">143</span>
            </div>
            <!-- counter end -->
            <!-- title -->
            <h6>
              <span> Completed Projects </span>
            </h6>
          </div>
          <!-- couner frame end -->
        </div>
        <!-- col end -->
        <!-- col -->
        <div class="col-md-3 col-6">
          <!-- couner frame -->
          <div class="counter-frame" style="opacity: 1">
            <!-- counter -->
            <div class="counter-box">
              <!-- counter number -->
              <span class="counter" style="opacity: 1">114</span>
            </div>
            <!-- counter end -->
            <!-- title -->
            <h6>
              <span> Happy Customers </span>
            </h6>
          </div>
          <!-- couner frame end -->
        </div>
        <!-- col end -->
        <!-- col -->
        <div class="col-md-3 col-6">
          <!-- couner frame -->
          <div class="counter-frame" style="opacity: 1">
            <!-- counter -->
            <div class="counter-box">
              <!-- counter number -->
              <span class="counter" style="opacity: 1">20</span>
              <span class="counter-plus">+</span>
            </div>
            <!-- counter end -->
            <!-- title -->
            <h6>
              <span> Honors and Awards </span>
            </h6>
          </div>
          <!-- couner frame end -->
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </section>
  