<div class="service-icon-box">
    <!-- service content -->
    <div class="service-ib-content">
      <!-- title -->
      <h5 class="mb-15">
        <span> {{title}} </span>
      </h5>
      <!-- text -->
      <div class="mb-15">
        <div>
          <p>
           {{description}}
          </p>
        </div>
      </div>
      <!-- button -->
      <div class="buttons-frame">
        <a
          routerLink="/contact"
          class="card-link card-color-link card-w-chevron"
        >
          <span> Order now </span>
        </a>
      </div>
    </div>
    <!-- service content end -->
  </div>