<div class="d-flex justify-content-end">
  <a (click)="closePopup()">
    <i class="fas fa-times pb-2"></i>
  </a>
</div>

<div class="testimonial">
  <div class="testimonial-body">
    <img
      decoding="async"
      class="testimonial-face  "
      [src]="data.recommendation.image"
      [alt]="data.recommendation.name"
    />
    <h5>
      <span>{{ data.recommendation.name }} </span>
    </h5>
    <div class="suptitle mb-15">
      <span> {{ data.recommendation.position }} </span>
    </div>
    <div class="mb-15 description">
      <div>
        <p>
          {{ data.recommendation.review }}
        </p>
      </div>
    </div>
  </div>
  <div class="testimonial-footer">
    <div>
      <ul class="star-rate">
        <li *ngFor="let _ of [].constructor(data.recommendation.rating)">
          <i class="fas fa-star"></i>
        </li>
        <li
          class="empty-item"
          *ngFor="let _ of [].constructor(5 - data.recommendation.rating)"
        >
          <i class="fas fa-star"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
