<div class="gallery-item">
    <a  class="gallery-item-frame">
      <img
        class=" "
        decoding="async"
        [src]="project.image"
        [alt]="project.title"
      />
      <span class="gallery-item-hover"><i class="fas fa-expand"></i></span>
    </a>
    <div class="gallery-item-description">
      <h5 class="mb-15">{{ project.title }}</h5>
      <div class="mb-15">
        {{ project.description }}
      </div>
      <a class="card-link card-color-link card-w-chevron">Read more</a>
    </div>
  </div>
  