.hard-skills .hard-skills-item {
  margin-bottom: 15px;
  position: relative;
}
.hard-skills .hard-skills-item h6
{
  margin-bottom: 5px;
}

.hard-skills .hard-skills-item .line-progress .progressbar-text {
  width: 100%;
  text-align: right;
  top: -6px !important;
  font-size: 13px;
  color: #cacace !important;

  position: absolute;
  left: 50%;
  /* top: 50%; */
  padding: 0px;
  margin: -5px;
  transform: translate(-50%, -50%);
  /* color: rgb(85, 85, 85); */
}

.lang-skills .lang-skills-item {
  width: 33.33333%;
  text-align: center;
  margin-bottom: 15px;
}

.lang-skills .lang-skills-item .progressbar-text {
  font-size: 13px;
  color: #cacace !important;
  position: relative;
  left: 45% !important;
}


.knowledge-list {
  padding-left: 0;
}
.knowledge-list li {
  list-style-type: none;
  margin-bottom: 5px;
  color: #cacace;
}
.knowledge-list li:last-child {
  margin-bottom: 0;
}

.knowledge-list li i {
  margin-right: 5px;
  font-size: 9px;
  color: #ffc107;
  margin-right: 10px;
}

.ls-divider {
  background: #8c8c8e;
  width: 100%;
  height: 1px;
  opacity: 0.3;
}

.address-table {
  color: #cacace;
}
.address-table ul {
  padding: 0;
  margin: 0;
}

.address-table ul li:last-child {
  margin-bottom: 0;
}
.address-table ul li strong {
  font-size: 13px;
  font-weight: 400;
  color: #fafafc;
  line-height: 1.7;
}

.address-table ul li h6 {
  line-height: 1.7;
}
.address-table ul li span {
  text-align: right;
  line-height: 1.7;
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #ffc107;
}

:host ::ng-deep mat-progress-bar {
  height: 5px;
}

:host ::ng-deep mat-progress-bar .mdc-linear-progress__bar-inner {
  border-top-width: 5px;
}

:host ::ng-deep mat-progress-bar .mdc-linear-progress__buffer-bar {
  background-color: #191923 !important;
}
